<h2 mat-dialog-title>
  <span>{{ data ? "Modifier l'utilisateur" : "Ajouter un utilisateur" }}</span>
  <button
    mat-icon-button
    mat-dialog-close
    aria-label="Close"
    class="close-button"
  >
    <mat-icon>close</mat-icon>
  </button>
</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="formeusers" (ngSubmit)="saveOrUpdateUser()">
    <div class="row">
      <div class="col-md-4">
        <mat-form-field appearance="outline" class="mat-form-field-custom">
          <mat-label>Entrez le nom</mat-label>
          <input
            matInput
            placeholder="Nom"
            formControlName="name"
            id="name"
            required
            [ngClass]="{
              'is-invalid': submittedIn && fI['name'] && fI['name'].errors
            }"
          />
          <mat-error
            *ngIf="
              fI['name'] && fI['name'].errors && fI['name'].errors['minlength']
            "
          >
            Le nom doit contenir au moins <strong>6 caractères</strong>.
          </mat-error>
          <mat-error
            *ngIf="
              fI['name'] && fI['name'].errors && fI['name'].errors['required']
            "
          >
            Le nom est <strong>obligatoire</strong>.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field appearance="outline" class="mat-form-field-custom">
          <mat-label>Entrer votre prénom</mat-label>
          <input
            matInput
            placeholder="Prénom"
            formControlName="prename"
            id="prename"
            required
            [ngClass]="{
              'is-invalid': submittedIn && fI['prename'] && fI['prename'].errors
            }"
          />
          <mat-error
            *ngIf="
              fI['prename'] &&
              fI['prename'].errors &&
              fI['prename'].errors['minlength']
            "
          >
            Prénom doit contenir au moins <strong>6 caractères</strong>.
          </mat-error>
          <mat-error
            *ngIf="
              fI['prename'] &&
              fI['prename'].errors &&
              fI['prename'].errors['required']
            "
          >
            Prénom est <strong>obligatoire</strong>.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field appearance="outline" class="mat-form-field-custom">
          <mat-label>Entrer l'adresse</mat-label>
          <input
            matInput
            placeholder="Address"
            type="text"
            formControlName="addresse"
            id="addresse"
            required
            [ngClass]="{
              'is-invalid':
                submittedIn && fI['addresse'] && fI['addresse'].errors
            }"
          />
          <mat-error
            *ngIf="
              fI['addresse'] &&
              fI['addresse'].errors &&
              fI['addresse'].errors['minlength']
            "
          >
            L'adresse doit contenir au moins <strong>6 caractères</strong>.
          </mat-error>
          <mat-error
            *ngIf="
              fI['addresse'] &&
              fI['addresse'].errors &&
              fI['addresse'].errors['required']
            "
          >
            L'adresse est <strong>obligatoire</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <mat-form-field appearance="outline" class="mat-form-field-custom">
          <mat-label>Entrer l'e-mail</mat-label>
          <input
            matInput
            placeholder="pat@example.com"
            type="email"
            formControlName="email"
            id="email"
            required
            [ngClass]="{
              'is-invalid': submittedIn && fI['email'] && fI['email'].errors
            }"
          />
          <mat-error
            *ngIf="
              fI['email'] && fI['email'].errors && fI['email'].errors['email']
            "
          >
            L'adresse e-mail est <strong>invalide</strong>.
          </mat-error>
          <mat-error
            *ngIf="
              fI['email'] &&
              fI['email'].errors &&
              fI['email'].errors['required']
            "
          >
            L'adresse e-mail est <strong>obligatoire</strong>.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field appearance="outline" class="mat-form-field-custom">
          <mat-label>Entrer login</mat-label>
          <input
            matInput
            placeholder="login"
            type="login"
            formControlName="login"
            id="login"
            required
            [ngClass]="{
              'is-invalid': submittedIn && fI['login'] && fI['login'].errors
            }"
          />
          <mat-error
            *ngIf="
              fI['login'] &&
              fI['login'].errors &&
              fI['login'].errors['minlength']
            "
          >
            la login doit contenir au moins <strong>6 caractères</strong>.
          </mat-error>
          <mat-error
            *ngIf="
              fI['login'] &&
              fI['login'].errors &&
              fI['login'].errors['required']
            "
          >
            la login est <strong>obligatoire</strong>.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field appearance="outline" class="mat-form-field-custom">
          <mat-label>Entrer Mot de passe</mat-label>
          <input
            matInput
            placeholder="Mot de passe"
            type="password"
            formControlName="password"
            id="password"
            required
            [ngClass]="{
              'is-invalid':
                submittedIn && fI['password'] && fI['password'].errors
            }"
          />
          <mat-error
            *ngIf="
              fI['password'] &&
              fI['password'].errors &&
              fI['password'].errors['minlength']
            "
          >
            Le mot de passe doit contenir au moins
            <strong>6 caractères</strong>.
          </mat-error>
          <mat-error
            *ngIf="
              fI['password'] &&
              fI['password'].errors &&
              fI['password'].errors['required']
            "
          >
            Le mot de passe est <strong>obligatoire</strong>.
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <mat-form-field appearance="outline" class="mat-form-field-custom">
          <mat-label>Entrez Cin</mat-label>
          <input
            matInput
            placeholder="Cin"
            type="text"
            formControlName="cin"
            maxlength="8"
            id="cin"
            [ngClass]="{
              'is-invalid': submittedIn && fI['cin'] && fI['cin'].errors
            }"
          />
          <mat-error
            *ngIf="
              fI['cin'] &&
              fI['cin'].value &&
              fI['cin'].errors &&
              fI['cin'].errors['onlyNumbers']
            "
          >
            Cin doit contenir uniquement des <strong>chiffres</strong>.
          </mat-error>
          <mat-error
            *ngIf="
              fI['cin'] && fI['cin'].errors && fI['cin'].errors['minlength']
            "
          >
            Cin doit contenir le <strong>8 chiffre</strong>.
          </mat-error>
          <mat-error
            *ngIf="
              fI['cin'] && fI['cin'].errors && fI['cin'].errors['required']
            "
          >
            Cin est <strong>obligatoire</strong>.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-4">
        <mat-form-field appearance="outline" class="mat-form-field-custom">
          <mat-label>Entrez la source</mat-label>
          <input
            matInput
            placeholder="Source"
            type="text"
            formControlName="source"
            id="source"
            required
            [ngClass]="{
              'is-invalid': submittedIn && fI['source'] && fI['source'].errors
            }"
          />
          <mat-error
            *ngIf="
              fI['source'] &&
              fI['source'].errors &&
              fI['source'].errors['minlength']
            "
          >
            La source doit contenir <strong>6 caractères</strong>.
          </mat-error>
          <mat-error
            *ngIf="
              fI['source'] &&
              fI['source'].errors &&
              fI['source'].errors['required']
            "
          >
            La source est <strong>obligatoire</strong>.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-4">
        <mat-form-field appearance="outline" class="mat-form-field-custom">
          <mat-label>Sélectionnez un rôle</mat-label>
          <mat-select formControlName="roles">
            <mat-option *ngFor="let role of roleList" [value]="role">{{
              role
            }}</mat-option>
          </mat-select>
          <mat-error *ngIf="fI.roles?.errors?.required"
            >Le rôle est requis</mat-error
          >
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline" class="mat-form-field-custom">
          <mat-label>Photo</mat-label>
          <input
            matInput
            type="file"
            class="file-input"
            #fileUpload
            (change)="onFileSelected($event)"
            accept="image/*"
          />

          <div class="file-upload uploadFile" (click)="fileUpload.click()">
            {{ photoname }}
            <button mat-mini-fab type="button" class="upload-btn">
              <mat-icon>attach_file</mat-icon>
            </button>
          </div>
          <mat-error
            *ngIf="
              fI['photo'] &&
              fI['photo'].errors &&
              fI['photo'].errors['required']
            "
          >
            La photo est <strong>obligatoire</strong>.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="outline" class="mat-form-field-custom">
          <mat-label>Sessions</mat-label>
          <mat-select
            formControlName="sessions"
            multiple
            [value]="selectedSessionIds"
          >
            <mat-option *ngFor="let session of sessions" [value]="session.id">
              {{ session.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <button mat-raised-button type="submit" class="btn btn-wico pull-right">
      {{ data ? "Modifier l'utilisateur" : "Ajouter un utilisateur" }}
    </button>
    <div class="clearfix"></div>
  </form>
</mat-dialog-content>
