<h2 mat-dialog-title>
  <span>{{ data ? "Modify User" : "Add User" }}</span>
  <button
    mat-icon-button
    mat-dialog-close
    aria-label="Close"
    class="close-button"
  >
    <mat-icon>close</mat-icon>
  </button>
</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="formeusers" (ngSubmit)="saveOrUpdateUser()">
    <div class="row">
      <div class="col-md-4">
        <mat-form-field appearance="outline" class="mat-form-field-custom">
          <mat-label>Enter Name</mat-label>
          <input
            matInput
            placeholder="Name"
            formControlName="name"
            id="name"
            required
            [ngClass]="{
              'is-invalid': submittedIn && fI['name'] && fI['name'].errors
            }"
          />
          <mat-error
            *ngIf="
              fI['name'] && fI['name'].errors && fI['name'].errors['minlength']
            "
          >
            Name must contain at least 6 characters
          </mat-error>
          <mat-error
            *ngIf="
              fI['name'] && fI['name'].errors && fI['name'].errors['required']
            "
          >
            Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field appearance="outline" class="mat-form-field-custom">
          <mat-label>Enter Prenom</mat-label>
          <input
            matInput
            placeholder="Prenom"
            formControlName="prename"
            id="prename"
            required
            [ngClass]="{
              'is-invalid': submittedIn && fI['prename'] && fI['prename'].errors
            }"
          />
          <mat-error
            *ngIf="
              fI['prename'] &&
              fI['prename'].errors &&
              fI['prename'].errors['minlength']
            "
          >
            Prenom must contain at least 6 characters
          </mat-error>
          <mat-error
            *ngIf="
              fI['prename'] &&
              fI['prename'].errors &&
              fI['prename'].errors['required']
            "
          >
            Prenom is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field appearance="outline" class="mat-form-field-custom">
          <mat-label>Enter Address</mat-label>
          <input
            matInput
            placeholder="Address"
            type="text"
            formControlName="addresse"
            id="addresse"
            required
            [ngClass]="{
              'is-invalid':
                submittedIn && fI['addresse'] && fI['addresse'].errors
            }"
          />
          <mat-error
            *ngIf="
              fI['addresse'] &&
              fI['addresse'].errors &&
              fI['addresse'].errors['minlength']
            "
          >
            Address must contain at least 6 characters
          </mat-error>
          <mat-error
            *ngIf="
              fI['addresse'] &&
              fI['addresse'].errors &&
              fI['addresse'].errors['required']
            "
          >
            Address is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <mat-form-field appearance="outline" class="mat-form-field-custom">
          <mat-label>Enter email</mat-label>
          <input
            matInput
            placeholder="pat@example.com"
            type="email"
            formControlName="email"
            id="email"
            required
            [ngClass]="{
              'is-invalid': submittedIn && fI['email'] && fI['email'].errors
            }"
          />
          <mat-error
            *ngIf="
              fI['email'] && fI['email'].errors && fI['email'].errors['email']
            "
          >
            The email address is invalid.
          </mat-error>
          <mat-error
            *ngIf="
              fI['email'] &&
              fI['email'].errors &&
              fI['email'].errors['required']
            "
          >
            Email address is <strong>required</strong>.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field appearance="outline" class="mat-form-field-custom">
          <mat-label>Enter login</mat-label>
          <input
            matInput
            placeholder="login"
            type="login"
            formControlName="login"
            id="login"
            required
            [ngClass]="{
              'is-invalid': submittedIn && fI['login'] && fI['login'].errors
            }"
          />
          <mat-error
            *ngIf="
              fI['login'] &&
              fI['login'].errors &&
              fI['login'].errors['minlength']
            "
          >
            login must contain at least 6 characters
          </mat-error>
          <mat-error
            *ngIf="
              fI['login'] &&
              fI['login'].errors &&
              fI['login'].errors['required']
            "
          >
            login is <strong>required</strong>.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field appearance="outline" class="mat-form-field-custom">
          <mat-label>Enter Password</mat-label>
          <input
            matInput
            placeholder="Password"
            type="password"
            formControlName="password"
            id="password"
            required
            [ngClass]="{
              'is-invalid':
                submittedIn && fI['password'] && fI['password'].errors
            }"
          />
          <mat-error
            *ngIf="
              fI['password'] &&
              fI['password'].errors &&
              fI['password'].errors['minlength']
            "
          >
            Password must contain at least 6 characters.
          </mat-error>
          <mat-error
            *ngIf="
              fI['password'] &&
              fI['password'].errors &&
              fI['password'].errors['required']
            "
          >
            Password is <strong>required</strong>.
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <mat-form-field appearance="outline" class="mat-form-field-custom">
          <mat-label>Enter Cin</mat-label>
          <input
            matInput
            placeholder="Cin"
            type="number"
            formControlName="cin"
            id="cin"
            required
            [ngClass]="{
              'is-invalid': submittedIn && fI['cin'] && fI['cin'].errors
            }"
          />
          <mat-error
            *ngIf="
              fI['cin'] && fI['cin'].errors && fI['cin'].errors['minlength']
            "
          >
            Cin must contain 8 number.
          </mat-error>
          <mat-error
            *ngIf="
              fI['cin'] && fI['cin'].errors && fI['cin'].errors['required']
            "
          >
            Cin is <strong>required</strong>.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-4">
        <mat-form-field appearance="outline" class="mat-form-field-custom">
          <mat-label>Enter Source</mat-label>
          <input
            matInput
            placeholder="Source"
            type="text"
            formControlName="source"
            id="source"
            required
            [ngClass]="{
              'is-invalid': submittedIn && fI['source'] && fI['source'].errors
            }"
          />
          <mat-error
            *ngIf="
              fI['source'] &&
              fI['source'].errors &&
              fI['source'].errors['minlength']
            "
          >
            Source must contain 6 characters.
          </mat-error>
          <mat-error
            *ngIf="
              fI['source'] &&
              fI['source'].errors &&
              fI['source'].errors['required']
            "
          >
            Source is <strong>required</strong>.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-4">
        <mat-form-field appearance="outline" class="mat-form-field-custom">
          <mat-label>Select Role</mat-label>
          <mat-select formControlName="roles">
            <mat-option *ngFor="let role of roleList" [value]="role">{{
              role
            }}</mat-option>
          </mat-select>
          <mat-error *ngIf="fI.roles?.errors?.required"
            >Role is required</mat-error
          >
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline" class="mat-form-field-custom">
          <input
            matInput
            type="file"
            class="file-input"
            formControlName="photo"
            (change)="onFileSelected($event)"
            #fileUpload
            [ngClass]="{
              'is-invalid': submittedIn && fI['photo'] && fI['photo'].errors
            }"
          />

          <div class="file-upload uploadFile" (click)="fileUpload.click()">
            {{ fileName }}
            <button mat-mini-fab type="button" class="upload-btn">
              <mat-icon>attach_file</mat-icon>
            </button>
          </div>
          <mat-error
            *ngIf="
              fI['photo'] &&
              fI['photo'].errors &&
              fI['photo'].errors['required']
            "
          >
            Image is <strong>required</strong>.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="outline" class="mat-form-field-custom">
          <mat-label>Sessions</mat-label>
          <mat-select [formControl]="sessions" multiple>
            <mat-option *ngFor="let session of sessionList" [value]="session">{{
              session
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <button mat-raised-button type="submit" class="btn btn-wico pull-right">
      {{ data ? "Modify User" : "Add User" }}
    </button>
    <div class="clearfix"></div>
  </form>
</mat-dialog-content>
