.static-size-dialog {
  width: 80vw;
  /* Set the width to 80% of the viewport width */
  height: auto;
  /* Let the height adjust according to content */
  max-height: 600px;
  /* Set your desired maximum height */
  max-width: 600px;
  /* Set your desired maximum width */
  margin: auto;
  /* Center the dialog */
}

/* Media Query for Small Screens */
@media screen and (max-width: 768px) {
  .static-size-dialog {
    width: 90vw;
    /* Set the width to 90% of the viewport width for small screens */
    height: auto;
    /* Let the height adjust according to content */
  }
}



.dialog-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.image {
  max-width: 100px;
  /* Adjust width as needed */
  max-height: 100px;
  /* Adjust height as needed */
}

.list-item-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* Align key and value in the same line */
}

.list-key {
  font-weight: bold;
  font-size: 13px;
  margin-right: 5px;
  /* Add margin to separate key and value */
}

.list-value {
  font-size: 13px;
  /* Reduce the size of the text */
}

.action-button {
  background-color: #37517e;
  color: white;
}

.custom-list {
  list-style-type: none;
  padding: 0;
}

.custom-list-item {
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}

li {
  white-space: break-word;
  word-wrap: break-word;
  max-width: 40vw;
}