.custom-list {
  list-style-type: none;
  padding: 0;
}

.custom-list-item {
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}

.list-item-content {
  display: flex;
  flex-direction: column;
}

.list-key {
  font-weight: bold;
}

.list-value {
  margin-top: 5px;
}

.action-button {
  background-color: #37517e;
  color: white;
}
