<div fxLayout="column" fxLayoutAlign="center center" class="dialog-content">
  <div mat-dialog-content class="content-wrapper static-size-dialog">
    <div class="spinner-container" *ngIf="urlphoto && isLoading">
      <!-- Add your spinner or loading animation here -->
      <div class="spinner"></div>
    </div>
    <div class="image-container" *ngIf="photo && !isLoading">
      <img [src]="photo" alt="Photo" class="image" />
    </div>
    <div class="data-container">
      <ol class="custom-list">
        <li *ngFor="let key of objectKeys(data)" class="custom-list-item">
          <div class="list-item-content">
            <span class="list-key">{{ key }}:</span>
            <span class="list-value">
              <ng-container *ngIf="key">
                {{ data[key] }}
              </ng-container>
            </span>
          </div>
        </li>
        <li class="custom-list-item" *ngIf="Cv">
          <div class="list-item-content">
            <span class="list-key">CV:</span>
            <span class="list-value">
              <ng-container>
                <a [href]="Cv" download="file.txt">CV Link</a>
              </ng-container>
            </span>
          </div>
        </li>
      </ol>
    </div>
  </div>
  <mat-dialog-actions>
    <button mat-button class="action-button" (click)="closeDialog()">
      Close
    </button>
  </mat-dialog-actions>
</div>
