<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <button
          mat-raised-button
          (click)="openDialogAddFormation()"
          class="btn btn-wico pull-right"
        >
          Add Formation
        </button>
      </div>
      <div class="col-md-12">
        <div class="card">
          <div
            class="card-header card-header-wicocolor"
            style="display: flex; align-items: center"
          >
            <h4 class="card-title" style="flex: 1">Formations List</h4>

            <mat-form-field
              class="custom-form-field col-md-3"
              style="flex: 1"
              appearance="outline"
            >
              <input
                type="search"
                matInput
                (keyup)="applyFilter($event.target.value)"
                placeholder="Search"
              />
            </mat-form-field>
          </div>

          <div class="card-body">
            <div class="mat-elevation-z">
              <table mat-table [dataSource]="dataSource">
                <!-- Position Column -->
                <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef>No.</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.position }}
                  </td>
                </ng-container>

                <!-- Nom Column -->
                <ng-container matColumnDef="nom">
                  <th mat-header-cell *matHeaderCellDef>Nom</th>
                  <td mat-cell *matCellDef="let element">{{ element.nom }}</td>
                </ng-container>

                <!-- description Column -->
                <ng-container matColumnDef="description">
                  <th mat-header-cell *matHeaderCellDef>Description</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.description }}
                  </td>
                </ng-container>

                <!-- tags Column -->
                <ng-container matColumnDef="tags">
                  <th mat-header-cell *matHeaderCellDef>Tags</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.tags }}
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns"
                ></tr>
              </table>

              <mat-paginator
                [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons
                aria-label="Select page of periodic elements"
              >
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
