<h2 mat-dialog-title>
  <span>{{ data ? "Modifier la session" : "Ajouter une session" }}</span>
  <button
    mat-icon-button
    mat-dialog-close
    aria-label="Close"
    class="close-button"
    *ngIf="!isLoading"
  >
    <mat-icon>close</mat-icon>
  </button>
</h2>
<div class="spinner-container" *ngIf="isLoading">
  <!-- Add your spinner or loading animation here -->
  <div class="spinner"></div>
</div>
<mat-dialog-content class="mat-typography" *ngIf="!isLoading">
  <form [formGroup]="formesession" (ngSubmit)="saveOrUpdateSession()">
    <div class="row">
      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Entrez le nom</mat-label>
          <input
            matInput
            placeholder="Nom"
            type="text"
            required
            formControlName="name"
            id="name"
            [ngClass]="{
              'is-invalid': submittedIn && fI['name'] && fI['name'].errors
            }"
          />
          <mat-error
            *ngIf="
              fI['name'] && fI['name'].errors && fI['name'].errors['minlength']
            "
          >
            Le nom doit contenir <strong>6 caractères</strong>.
          </mat-error>
          <mat-error
            *ngIf="
              fI['name'] && fI['name'].errors && fI['name'].errors['required']
            "
          >
            Le nom est <strong>obligatoire</strong>.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Choisissez une date de début</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            required
            formControlName="datedeb"
            id="datedeb"
            [ngClass]="{
              'is-invalid': submittedIn && fI['datedeb'] && fI['datedeb'].errors
            }"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-hint>MM/JJ/AAAA</mat-hint>

          <mat-error
            *ngIf="
              fI['datedeb'] &&
              fI['datedeb'].errors &&
              fI['datedeb'].errors['required']
            "
          >
            La date de début est <strong>obligatoire</strong>.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Organisation</mat-label>
          <input
            matInput
            placeholder="Organisation"
            type="text"
            required
            formControlName="organisation"
            id="organisation"
            [ngClass]="{
              'is-invalid':
                submittedIn && fI['organisation'] && fI['organisation'].errors
            }"
          />
          <mat-error
            *ngIf="
              fI['organisation'] &&
              fI['organisation'].errors &&
              fI['organisation'].errors['minlength']
            "
          >
            L'organisation doit contenir <strong>6 caractères</strong>.
          </mat-error>
          <mat-error
            *ngIf="
              fI['organisation'] &&
              fI['organisation'].errors &&
              fI['organisation'].errors['required']
            "
          >
            L'organisation est <strong>obligatoire</strong>.
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Entrez le nombre maximum</mat-label>
          <input
            matInput
            placeholder="Nombre Maximum"
            type="number"
            required
            formControlName="maxNbr"
            id="maxNbr"
            [ngClass]="{
              'is-invalid': submittedIn && fI['maxNbr'] && fI['maxNbr'].errors
            }"
          />
          <mat-error
            *ngIf="
              fI['maxNbr'] &&
              fI['maxNbr'].errors &&
              fI['maxNbr'].errors['minlength']
            "
          >
            Le nombre maximum doit contenir <strong>1 caractères</strong>.
          </mat-error>
          <mat-error
            *ngIf="
              fI['maxNbr'] &&
              fI['maxNbr'].errors &&
              fI['maxNbr'].errors['required']
            "
          >
            Le nombre maximum est <strong>obligatoire</strong>.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Sélectionner le type</mat-label>
          <mat-select formControlName="type" required disableOptionCentering>
            <mat-option *ngFor="let type of typeList" [value]="type">{{
              type
            }}</mat-option>
          </mat-select>
          <mat-error *ngIf="fI.types?.errors?.required"
            >Le type est <strong>obligatoire</strong>.</mat-error
          >
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field appearance="outline" class="mat-form-field-custom">
          <mat-label>Photo</mat-label>
          <input
            formControlName="photo"
            matInput
            type="file"
            class="file-input"
            (change)="onFileSelected($event)"
            accept="image/*"
            #fileUpload
          />

          <div class="file-upload uploadFile" (click)="fileUpload.click()">
            {{ fileName }}
            <button mat-mini-fab type="button" class="upload-btn">
              <mat-icon>attach_file</mat-icon>
            </button>
          </div>
          <mat-error
            *ngIf="fI['photo'].errors && fI['photo'].errors['required']"
          >
            La photo est <strong>obligatoire</strong>.
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline" class="mat-form-field-custom">
          <mat-label>Formations</mat-label>
          <mat-select
            formControlName="formations"
            multiple
            [value]="selectedFormationIds"
            disableOptionCentering
          >
            <mat-option
              *ngFor="let formation of formations"
              [value]="formation.id"
            >
              {{ formation.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline" class="mat-form-field-custom">
          <mat-label>Seances</mat-label>
          <mat-select
            formControlName="seances"
            multiple
            [value]="selectedSeanceIds"
            disableOptionCentering
          >
            <mat-option *ngFor="let seance of seances" [value]="seance.id">
              {{ seance.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <button mat-raised-button type="submit" class="btn btn-wico pull-right">
      {{ data ? "Modifier la session" : "Ajouter une session" }}
    </button>
    <div class="clearfix"></div>
  </form>
</mat-dialog-content>
