<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="search-box col-md-6 pull-left custom-form-field">
          <mat-form-field class="example-form-field" appearance="outline">
            <mat-icon matPrefix>search</mat-icon>
            <mat-label>Search</mat-label>
            <input
              matInput
              type="text"
              [(ngModel)]="value"
              (keyup)="applyFilter()"
            />
            <button
              *ngIf="value"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="clear()"
            >
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <button
          mat-raised-button
          (click)="openDialogAddSession()"
          class="btn btn-wico pull-right"
        >
          Add Session
        </button>
      </div>
      <div class="col-md-12">
        <div class="card">
          <div
            class="card-header card-header-wicocolor"
            style="display: flex; align-items: center"
          >
            <h4 class="card-title" style="flex: 1">Session List</h4>
          </div>
          <div class="card-body">
            <div class="mat-elevation-z">
              <table mat-table [dataSource]="dataSource">
                <!-- Position Column -->
                <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef>No.</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.position }}
                  </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef>Name</th>
                  <td mat-cell *matCellDef="let element">{{ element.name }}</td>
                </ng-container>

                <!-- datedeb Column -->
                <ng-container matColumnDef="datedeb">
                  <th mat-header-cell *matHeaderCellDef>Date Debut</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.datedeb }}
                  </td>
                </ng-container>

                <!-- organisation Column -->
                <ng-container matColumnDef="organisation">
                  <th mat-header-cell *matHeaderCellDef>Organisation</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.organisation }}
                  </td>
                </ng-container>

                <!-- maxNbr Column -->
                <ng-container matColumnDef="maxNbr">
                  <th mat-header-cell *matHeaderCellDef>Maximum Number</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.maxNbr }}
                  </td>
                </ng-container>

                <!-- type Column -->
                <ng-container matColumnDef="type">
                  <th mat-header-cell *matHeaderCellDef>Type</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.type }}
                  </td>
                </ng-container>

                <!-- createdAt Column -->
                <ng-container matColumnDef="createdAt">
                  <th mat-header-cell *matHeaderCellDef>createdAt</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.createdAt }}
                  </td>
                </ng-container>

                <!-- action Column -->
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef>Action</th>
                  <td mat-cell *matCellDef="let element">
                    <button
                      mat-raised-button
                      type="button"
                      class="btn btn-wico btn-link btn-sm btn-just-icon"
                      (click)="openDialog(element)"
                    >
                      <i class="material-icons">edit</i>
                    </button>
                    <button
                      mat-raised-button
                      type="button"
                      class="btn btn-danger btn-link btn-sm btn-just-icon"
                      (click)="removeSession(element._id)"
                    >
                      <i class="material-icons">close</i>
                    </button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns"
                ></tr>
              </table>

              <mat-paginator
                [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons
                aria-label="Select page of periodic elements"
              >
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
