<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-wicocolor">
            <h4 class="card-title">Add Session</h4>
          </div>
          <div class="card-body">
            <form [formGroup]="formesession" (ngSubmit)="Addsession($event)">
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Enter Nom</mat-label>
                    <input
                      matInput
                      placeholder="Nom"
                      type="text"
                      required
                      formControlName="nom"
                      id="nom"
                      [ngClass]="{
                        'is-invalid':
                          submittedIn && fI['nom'] && fI['nom'].errors
                      }"
                    />
                    <mat-error
                      *ngIf="
                        fI['nom'] &&
                        fI['nom'].errors &&
                        fI['nom'].errors['minlength']
                      "
                    >
                      Nom must contain 6 characters.
                    </mat-error>
                    <mat-error
                      *ngIf="
                        fI['nom'] &&
                        fI['nom'].errors &&
                        fI['nom'].errors['required']
                      "
                    >
                      Nom is <strong>required</strong>.
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Choose a Date Debut</mat-label>
                    <input
                      matInput
                      [matDatepicker]="picker"
                      required
                      formControlName="datedeb"
                      id="datedeb"
                      [ngClass]="{
                        'is-invalid':
                          submittedIn && fI['datedeb'] && fI['datedeb'].errors
                      }"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-hint>MM/DD/YYYY</mat-hint>

                    <mat-error
                      *ngIf="
                        fI['datedeb'] &&
                        fI['datedeb'].errors &&
                        fI['datedeb'].errors['required']
                      "
                    >
                      Date Debut is <strong>required</strong>.
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Organisation</mat-label>
                    <input
                      matInput
                      placeholder="Organisation"
                      type="text"
                      required
                      formControlName="organisation"
                      id="organisation"
                      [ngClass]="{
                        'is-invalid':
                          submittedIn &&
                          fI['organisation'] &&
                          fI['organisation'].errors
                      }"
                    />
                    <mat-error
                      *ngIf="
                        fI['organisation'] &&
                        fI['organisation'].errors &&
                        fI['organisation'].errors['minlength']
                      "
                    >
                      Organisation must contain 6 characters.
                    </mat-error>
                    <mat-error
                      *ngIf="
                        fI['organisation'] &&
                        fI['organisation'].errors &&
                        fI['organisation'].errors['required']
                      "
                    >
                      Organisation is <strong>required</strong>.
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Enter Maximum number</mat-label>
                    <input
                      matInput
                      placeholder="Maximum number"
                      type="number"
                      required
                      formControlName="maxnb"
                      id="maxnb"
                      [ngClass]="{
                        'is-invalid':
                          submittedIn && fI['maxnb'] && fI['maxnb'].errors
                      }"
                    />
                    <mat-error
                      *ngIf="
                        fI['maxnb'] &&
                        fI['maxnb'].errors &&
                        fI['maxnb'].errors['minlength']
                      "
                    >
                      Maximum number must contain 1 characters.
                    </mat-error>
                    <mat-error
                      *ngIf="
                        fI['maxnb'] &&
                        fI['maxnb'].errors &&
                        fI['maxnb'].errors['required']
                      "
                    >
                      Maximum number is <strong>required</strong>.
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Type</mat-label>
                    <mat-select required>
                      <mat-option *ngFor="let type of Types" [value]="type">{{
                        type.viewValue
                      }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field appearance="outline">
                    <input
                      matInput
                      type="file"
                      class="file-input"
                      (change)="onFileSelected($event)"
                      #fileUpload
                    />

                    <div
                      class="file-upload uploadFile"
                      (click)="fileUpload.click()"
                    >
                      {{ fileName || "No Image uploaded yet." }}
                      <button mat-mini-fab class="upload-btn">
                        <mat-icon>attach_file</mat-icon>
                      </button>
                    </div>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label>Formations</mat-label>
                    <mat-select [formControl]="formations" multiple>
                      <mat-option
                        *ngFor="let formation of formationList"
                        [value]="formation"
                        >{{ formation }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label>Seances</mat-label>
                    <mat-select [formControl]="seances" multiple>
                      <mat-option
                        *ngFor="let seance of seancenList"
                        [value]="seance"
                        >{{ seance }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <button
                mat-raised-button
                type="submit"
                class="btn btn-wico pull-right"
              >
                Add Session
              </button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-wicocolor">
            <h4 class="card-title">Sessions List</h4>
          </div>
          <div class="card-body">
            <div class="mat-elevation-z">
              <table mat-table [dataSource]="dataSource">
                <!-- Position Column -->
                <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef>No.</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.position }}
                  </td>
                </ng-container>

                <!-- Nom Column -->
                <ng-container matColumnDef="nom">
                  <th mat-header-cell *matHeaderCellDef>Nom</th>
                  <td mat-cell *matCellDef="let element">{{ element.nom }}</td>
                </ng-container>

                <!-- datedeb Column -->
                <ng-container matColumnDef="datedeb">
                  <th mat-header-cell *matHeaderCellDef>Date Debut</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.datedeb }}
                  </td>
                </ng-container>

                <!-- organisation Column -->
                <ng-container matColumnDef="organisation">
                  <th mat-header-cell *matHeaderCellDef>Organisation</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.organisation }}
                  </td>
                </ng-container>

                <!-- maxbumbr Column -->
                <ng-container matColumnDef="maxbumbr">
                  <th mat-header-cell *matHeaderCellDef>Maximum Number</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.maxbumbr }}
                  </td>
                </ng-container>

                <!-- type Column -->
                <ng-container matColumnDef="type">
                  <th mat-header-cell *matHeaderCellDef>Type</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.type }}
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns"
                ></tr>
              </table>

              <mat-paginator
                [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons
                aria-label="Select page of periodic elements"
              >
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
