<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-wicocolor">
            <h4 class="card-title">Add Formation</h4>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Enter Nom</mat-label>
                    <input matInput placeholder="Nom" type="text" required />
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Enter Description</mat-label>
                    <input
                      matInput
                      placeholder="Description"
                      type="text"
                      required
                    />
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Tags</mat-label>
                    <input matInput placeholder="Tags" type="text" required />
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Contenu</mat-label>
                    <mat-select [formControl]="contenus" multiple>
                      <mat-option
                        *ngFor="let contenu of contenuList"
                        [value]="contenu"
                        >{{ contenu }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <button
                mat-raised-button
                type="submit"
                class="btn btn-wico pull-right"
              >
                Add Formation
              </button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-wicocolor">
            <h4 class="card-title">Formations List</h4>
          </div>
          <div class="card-body">
            <div class="mat-elevation-z">
              <table mat-table *ngIf="!isLoading" [dataSource]="dataSource">
                <!-- Position Column -->
                <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef>No.</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.position }}
                  </td>
                </ng-container>

                <!-- Nom Column -->
                <ng-container matColumnDef="nom">
                  <th mat-header-cell *matHeaderCellDef>Nom</th>
                  <td mat-cell *matCellDef="let element">{{ element.nom }}</td>
                </ng-container>

                <!-- description Column -->
                <ng-container matColumnDef="description">
                  <th mat-header-cell *matHeaderCellDef>Description</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.description }}
                  </td>
                </ng-container>

                <!-- tags Column -->
                <ng-container matColumnDef="tags">
                  <th mat-header-cell *matHeaderCellDef>Tags</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.tags }}
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns"
                ></tr>
              </table>

              <div class="spinner-container" *ngIf="isLoading">
                <!-- Add your spinner or loading animation here -->
                <div class="spinner"></div>
              </div>

              <mat-paginator
                [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons
                aria-label="Select page of periodic elements"
              >
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
