<h2 mat-dialog-title>
  <span>{{ data ? "Modifier la Formation" : "Ajouter une Formation" }}</span>
  <button
    mat-icon-button
    mat-dialog-close
    aria-label="Close"
    class="close-button"
  >
    <mat-icon>close</mat-icon>
  </button>
</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="formeformation" (ngSubmit)="saveOrUpdateFormation()">
    <div class="row">
      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Entrez le nom</mat-label>
          <input
            matInput
            placeholder="Nom"
            type="text"
            required
            formControlName="name"
            id="name"
            [ngClass]="{
              'is-invalid': submittedIn && fI['name'] && fI['name'].errors
            }"
          />
          <mat-error
            *ngIf="
              fI['name'] && fI['name'].errors && fI['name'].errors['minlength']
            "
          >
            Le nom doit contenir <strong>3 caractères</strong>.
          </mat-error>
          <mat-error
            *ngIf="
              fI['name'] && fI['name'].errors && fI['name'].errors['required']
            "
          >
            Le nom est <strong>obligatoire</strong>.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Entrez la description</mat-label>
          <input
            matInput
            placeholder="Description"
            type="text"
            required
            formControlName="description"
            id="description"
            [ngClass]="{
              'is-invalid':
                submittedIn && fI['description'] && fI['description'].errors
            }"
          />
          <mat-error
            *ngIf="
              fI['description'] &&
              fI['description'].errors &&
              fI['description'].errors['minlength']
            "
          >
            La description doit contenir <strong>8 caractères</strong>.
          </mat-error>
          <mat-error
            *ngIf="
              fI['description'] &&
              fI['description'].errors &&
              fI['description'].errors['required']
            "
          >
            La description est <strong>obligatoire</strong>.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Mots clés</mat-label>
          <input
            matInput
            placeholder="Mots clés"
            type="text"
            required
            formControlName="tags"
            id="tags"
            [ngClass]="{
              'is-invalid': submittedIn && fI['tags'] && fI['tags'].errors
            }"
          />
          <mat-error
            *ngIf="
              fI['tags'] && fI['tags'].errors && fI['tags'].errors['minlength']
            "
          >
            Le mots clé doivent contenir <strong>1 caractères</strong>.
          </mat-error>
          <mat-error
            *ngIf="
              fI['tags'] && fI['tags'].errors && fI['tags'].errors['required']
            "
          >
            Mots clés est <strong>obligatoire</strong>.
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Contenu</mat-label>
          <mat-select
            formControlName="contenus"
            multiple
            disableOptionCentering
          >
            <mat-option *ngFor="let contenu of contenuList" [value]="contenu">{{
              contenu
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <button mat-raised-button type="submit" class="btn btn-wico pull-right">
      {{ data ? "Modifier la Formation" : "Ajouter une Formation" }}
    </button>
    <div class="clearfix"></div>
  </form>
</mat-dialog-content>
