<div class="main-content">
  <div class="container-fluid">
    <div class="spinner-container" *ngIf="isLoading">
      <!-- Add your spinner or loading animation here -->
      <div class="spinner"></div>
    </div>
    <div class="row" *ngIf="user && !isLoading">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-wicocolor">
            <h4 class="card-title">Modifier le profil</h4>
          </div>
          <div class="card-body">
            <form [formGroup]="formeusers" (ngSubmit)="updateUser()">
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Entrez le nom</mat-label>
                    <input
                      matInput
                      placeholder="Nom"
                      formControlName="name"
                      id="name"
                      required
                      [(ngModel)]="user.name"
                      [ngClass]="{
                        'is-invalid':
                          submittedIn && fI['name'] && fI['name'].errors
                      }"
                    />
                    <mat-error
                      *ngIf="
                        fI['name'] &&
                        fI['name'].errors &&
                        fI['name'].errors['minlength']
                      "
                    >
                      Le nom doit contenir au moins 6 caractères
                    </mat-error>
                    <mat-error
                      *ngIf="
                        fI['name'] &&
                        fI['name'].errors &&
                        fI['name'].errors['required']
                      "
                    >
                      Le nom est <strong>obligatoire</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Entrez le prénom</mat-label>
                    <input
                      matInput
                      placeholder="Prénom"
                      formControlName="prenom"
                      id="prenom"
                      required
                      [(ngModel)]="user.prename"
                      [ngClass]="{
                        'is-invalid':
                          submittedIn && fI['prenom'] && fI['prenom'].errors
                      }"
                    />
                    <mat-error
                      *ngIf="
                        fI['prenom'] &&
                        fI['prenom'].errors &&
                        fI['prenom'].errors['minlength']
                      "
                    >
                      Le prénom doit contenir au moins 6 caractères
                    </mat-error>
                    <mat-error
                      *ngIf="
                        fI['prenom'] &&
                        fI['prenom'].errors &&
                        fI['prenom'].errors['required']
                      "
                    >
                      Le prénom est <strong>obligatoire</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Entrez l'adresse</mat-label>
                    <input
                      matInput
                      placeholder="Adresse"
                      type="text"
                      formControlName="address"
                      id="address"
                      [(ngModel)]="user.addresse"
                      required
                      [ngClass]="{
                        'is-invalid':
                          submittedIn && fI['address'] && fI['address'].errors
                      }"
                    />
                    <mat-error
                      *ngIf="
                        fI['address'] &&
                        fI['address'].errors &&
                        fI['address'].errors['minlength']
                      "
                    >
                      L'adresse doit contenir au moins 6 caractères
                    </mat-error>
                    <mat-error
                      *ngIf="
                        fI['address'] &&
                        fI['address'].errors &&
                        fI['address'].errors['required']
                      "
                    >
                      L'adresse est <strong>obligatoire</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Entrez l'email</mat-label>
                    <input
                      matInput
                      placeholder="pat@example.com"
                      type="email"
                      formControlName="email"
                      [(ngModel)]="user.email"
                      id="email"
                      required
                      [ngClass]="{
                        'is-invalid':
                          submittedIn && fI['email'] && fI['email'].errors
                      }"
                    />
                    <mat-error
                      *ngIf="
                        fI['email'] &&
                        fI['email'].errors &&
                        fI['email'].errors['email']
                      "
                    >
                      L'adresse e-mail est invalide.
                    </mat-error>
                    <mat-error
                      *ngIf="
                        fI['email'] &&
                        fI['email'].errors &&
                        fI['email'].errors['required']
                      "
                    >
                      L'adresse e-mail est <strong>obligatoire</strong>.
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Entrez le login</mat-label>
                    <input
                      matInput
                      placeholder="pat@example.com"
                      type="login"
                      formControlName="login"
                      [(ngModel)]="user.login"
                      id="login"
                      required
                      [ngClass]="{
                        'is-invalid':
                          submittedIn && fI['login'] && fI['login'].errors
                      }"
                    />
                    <mat-error
                      *ngIf="
                        fI['login'] &&
                        fI['login'].errors &&
                        fI['login'].errors['minlength']
                      "
                    >
                      Le login doit contenir au moins 6 caractères
                    </mat-error>
                    <mat-error
                      *ngIf="
                        fI['login'] &&
                        fI['login'].errors &&
                        fI['login'].errors['required']
                      "
                    >
                      Le login est <strong>obligatoire</strong>.
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Entrez le mot de passe</mat-label>
                    <input
                      matInput
                      placeholder="Mot de passe"
                      type="password"
                      formControlName="password"
                      id="password"
                      [(ngModel)]="user.password"
                      required
                      [ngClass]="{
                        'is-invalid':
                          submittedIn && fI['password'] && fI['password'].errors
                      }"
                    />
                    <mat-error
                      *ngIf="
                        fI['password'] &&
                        fI['password'].errors &&
                        fI['password'].errors['minlength']
                      "
                    >
                      Le mot de passe doit contenir au moins 6 caractères.
                    </mat-error>
                    <mat-error
                      *ngIf="
                        fI['password'] &&
                        fI['password'].errors &&
                        fI['password'].errors['required']
                      "
                    >
                      Le mot de passe est <strong>obligatoire</strong>.
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Entrez le Cin</mat-label>
                    <input
                      matInput
                      placeholder="Cin"
                      type="number"
                      formControlName="cin"
                      id="cin"
                      [(ngModel)]="user.cin"
                      required
                      [ngClass]="{
                        'is-invalid':
                          submittedIn && fI['cin'] && fI['cin'].errors
                      }"
                    />
                    <mat-error
                      *ngIf="
                        fI['cin'] &&
                        fI['cin'].errors &&
                        fI['cin'].errors['minlength']
                      "
                    >
                      Le Cin doit contenir 8 chiffres.
                    </mat-error>
                    <mat-error
                      *ngIf="
                        fI['cin'] &&
                        fI['cin'].errors &&
                        fI['cin'].errors['required']
                      "
                    >
                      Le Cin est <strong>obligatoire</strong>.
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Entrez la source</mat-label>
                    <input
                      matInput
                      placeholder="Source"
                      type="text"
                      formControlName="source"
                      id="source"
                      [(ngModel)]="user.source"
                      required
                      [ngClass]="{
                        'is-invalid':
                          submittedIn && fI['source'] && fI['source'].errors
                      }"
                    />
                    <mat-error
                      *ngIf="
                        fI['source'] &&
                        fI['source'].errors &&
                        fI['source'].errors['minlength']
                      "
                    >
                      La source doit contenir 6 caractères.
                    </mat-error>
                    <mat-error
                      *ngIf="
                        fI['source'] &&
                        fI['source'].errors &&
                        fI['source'].errors['required']
                      "
                    >
                      La source est <strong>obligatoire</strong>.
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <button
                mat-raised-button
                type="submit"
                class="btn btn-wico pull-right"
              >
                Mettre à jour
              </button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <!-- HTML Template -->
          <div class="card-avatar" (click)="toggleUploadZone()">
            <a href="javascript:void(0)" *ngIf="photo">
              <img class="img" [src]="photo" alt="Photo" />
            </a>
          </div>

          <div class="upload-overlay" *ngIf="showUploadZone">
            <div class="spinner-container" *ngIf="isLoadingphoto">
              <!-- Add your spinner or loading animation here -->
              <div class="spinner"></div>
            </div>
            <div class="upload-popup" *ngIf="!isLoadingphoto">
              <span class="close" (click)="toggleUploadZone()">&times;</span>

              <div class="drop-zone" (click)="selectFile()">
                <p>Drag & Drop files here or click to select</p>
                <input
                  #fileInput
                  type="file"
                  (change)="onFileSelected($event)"
                  accept="image/*"
                />
              </div>
              <button class="cancel" (click)="toggleUploadZone()">
                Cancel
              </button>
            </div>
          </div>

          <div class="card-body">
            <h6 class="card-category text-gray">{{ user.roles }}</h6>
            <h4 class="card-title">{{ user.name }}</h4>
            <p class="card-description">
              Ne soyez pas effrayé par la vérité car nous devons relancer les
              fondements humains dans la vérité Et je t'aime comme Kanye aime
              Kanye J'adore le design du lit de Rick Owens mais l'arrière est...
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
