<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-wicocolor">
            <h4 class="card-title">Edit Profile</h4>
            <p class="card-category">Complete your profile</p>
          </div>
          <div class="card-body">
            <form [formGroup]="formeusers" (ngSubmit)="Updateuser($event)">
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Enter Name</mat-label>
                    <input
                      matInput
                      placeholder="Name"
                      formControlName="name"
                      id="name"
                      required
                      [ngClass]="{
                        'is-invalid':
                          submittedIn && fI['name'] && fI['name'].errors
                      }"
                    />
                    <mat-error
                      *ngIf="
                        fI['name'] &&
                        fI['name'].errors &&
                        fI['name'].errors['minlength']
                      "
                    >
                      Name must contain at least 6 characters
                    </mat-error>
                    <mat-error
                      *ngIf="
                        fI['name'] &&
                        fI['name'].errors &&
                        fI['name'].errors['required']
                      "
                    >
                      Name is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Enter Prenom</mat-label>
                    <input
                      matInput
                      placeholder="Prenom"
                      formControlName="prenom"
                      id="prenom"
                      required
                      [ngClass]="{
                        'is-invalid':
                          submittedIn && fI['prenom'] && fI['prenom'].errors
                      }"
                    />
                    <mat-error
                      *ngIf="
                        fI['prenom'] &&
                        fI['prenom'].errors &&
                        fI['prenom'].errors['minlength']
                      "
                    >
                      Prenom must contain at least 6 characters
                    </mat-error>
                    <mat-error
                      *ngIf="
                        fI['prenom'] &&
                        fI['prenom'].errors &&
                        fI['prenom'].errors['required']
                      "
                    >
                      Prenom is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Enter Address</mat-label>
                    <input
                      matInput
                      placeholder="Address"
                      type="text"
                      formControlName="address"
                      id="address"
                      required
                      [ngClass]="{
                        'is-invalid':
                          submittedIn && fI['address'] && fI['address'].errors
                      }"
                    />
                    <mat-error
                      *ngIf="
                        fI['address'] &&
                        fI['address'].errors &&
                        fI['address'].errors['minlength']
                      "
                    >
                      Address must contain at least 6 characters
                    </mat-error>
                    <mat-error
                      *ngIf="
                        fI['address'] &&
                        fI['address'].errors &&
                        fI['address'].errors['required']
                      "
                    >
                      Address is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Enter email</mat-label>
                    <input
                      matInput
                      placeholder="pat@example.com"
                      type="email"
                      formControlName="email"
                      id="email"
                      required
                      [ngClass]="{
                        'is-invalid':
                          submittedIn && fI['email'] && fI['email'].errors
                      }"
                    />
                    <mat-error
                      *ngIf="
                        fI['email'] &&
                        fI['email'].errors &&
                        fI['email'].errors['email']
                      "
                    >
                      The email address is invalid.
                    </mat-error>
                    <mat-error
                      *ngIf="
                        fI['email'] &&
                        fI['email'].errors &&
                        fI['email'].errors['required']
                      "
                    >
                      Email address is <strong>required</strong>.
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Enter login</mat-label>
                    <input
                      matInput
                      placeholder="pat@example.com"
                      type="login"
                      formControlName="login"
                      id="login"
                      required
                      [ngClass]="{
                        'is-invalid':
                          submittedIn && fI['login'] && fI['login'].errors
                      }"
                    />
                    <mat-error
                      *ngIf="
                        fI['login'] &&
                        fI['login'].errors &&
                        fI['login'].errors['minlength']
                      "
                    >
                      login must contain at least 6 characters
                    </mat-error>
                    <mat-error
                      *ngIf="
                        fI['login'] &&
                        fI['login'].errors &&
                        fI['login'].errors['required']
                      "
                    >
                      login is <strong>required</strong>.
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Enter Password</mat-label>
                    <input
                      matInput
                      placeholder="Password"
                      type="password"
                      formControlName="password"
                      id="password"
                      required
                      [ngClass]="{
                        'is-invalid':
                          submittedIn && fI['password'] && fI['password'].errors
                      }"
                    />
                    <mat-error
                      *ngIf="
                        fI['password'] &&
                        fI['password'].errors &&
                        fI['password'].errors['minlength']
                      "
                    >
                      Password must contain at least 6 characters.
                    </mat-error>
                    <mat-error
                      *ngIf="
                        fI['password'] &&
                        fI['password'].errors &&
                        fI['password'].errors['required']
                      "
                    >
                      Password is <strong>required</strong>.
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Enter Cin</mat-label>
                    <input
                      matInput
                      placeholder="Cin"
                      type="number"
                      formControlName="cin"
                      id="cin"
                      required
                      [ngClass]="{
                        'is-invalid':
                          submittedIn && fI['cin'] && fI['cin'].errors
                      }"
                    />
                    <mat-error
                      *ngIf="
                        fI['cin'] &&
                        fI['cin'].errors &&
                        fI['cin'].errors['minlength']
                      "
                    >
                      Cin must contain 8 number.
                    </mat-error>
                    <mat-error
                      *ngIf="
                        fI['cin'] &&
                        fI['cin'].errors &&
                        fI['cin'].errors['required']
                      "
                    >
                      Cin is <strong>required</strong>.
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Enter Source</mat-label>
                    <input
                      matInput
                      placeholder="Source"
                      type="text"
                      formControlName="source"
                      id="source"
                      required
                      [ngClass]="{
                        'is-invalid':
                          submittedIn && fI['source'] && fI['source'].errors
                      }"
                    />
                    <mat-error
                      *ngIf="
                        fI['source'] &&
                        fI['source'].errors &&
                        fI['source'].errors['minlength']
                      "
                    >
                      Source must contain 6 characters.
                    </mat-error>
                    <mat-error
                      *ngIf="
                        fI['source'] &&
                        fI['source'].errors &&
                        fI['source'].errors['required']
                      "
                    >
                      Source is <strong>required</strong>.
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <button
                mat-raised-button
                type="submit"
                class="btn btn-wico pull-right"
              >
                Update
              </button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="javascript:void(0)">
              <img class="img" src="./assets/img/faces/marc.jpg" />
            </a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">CEO / Co-Founder</h6>
            <h4 class="card-title">Alec Thompson</h4>
            <p class="card-description">
              Don't be scared of the truth because we need to restart the human
              foundation in truth And I love you like Kanye loves Kanye I love
              Rick Owens’ bed design but the back is...
            </p>
            <a href="javascript:void(0)" class="btn btn-wico btn-round"
              >Follow</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
