<h2 mat-dialog-title>
  <span>{{ data ? "Modifier Témoignage" : "Ajouter Témoignage" }}</span>
  <button
    mat-icon-button
    mat-dialog-close
    aria-label="Close"
    class="close-button"
    *ngIf="!isLoading"
  >
    <mat-icon>close</mat-icon>
  </button>
</h2>
<div class="spinner-container" *ngIf="isLoading">
  <!-- Add your spinner or loading animation here -->
  <div class="spinner"></div>
</div>
<mat-dialog-content class="mat-typography" *ngIf="!isLoading">
  <form [formGroup]="formetemoignages" (ngSubmit)="saveOrUpdateTemoignage()">
    <div class="row">
      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Entrez le nom</mat-label>
          <input
            matInput
            placeholder="Nom"
            required
            formControlName="name"
            id="name"
            [ngClass]="{
              'is-invalid': submittedIn && fI['name'] && fI['name'].errors
            }"
          />
          <mat-error
            *ngIf="
              fI['name'] && fI['name'].errors && fI['name'].errors['minlength']
            "
          >
            Le nom doit contenir <strong>3 caractères</strong>.
          </mat-error>
          <mat-error
            *ngIf="
              fI['name'] && fI['name'].errors && fI['name'].errors['required']
            "
          >
            Le nom est <strong>obligatoire</strong>.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Entrez votre prénom</mat-label>
          <input
            matInput
            placeholder="Prénom"
            required
            formControlName="prenom"
            id="prenom"
            [ngClass]="{
              'is-invalid': submittedIn && fI['prenom'] && fI['prenom'].errors
            }"
          />
          <mat-error
            *ngIf="
              fI['prenom'] &&
              fI['prenom'].errors &&
              fI['prenom'].errors['minlength']
            "
          >
            le prénom doit contenir <strong>3 caractères</strong>.
          </mat-error>
          <mat-error
            *ngIf="
              fI['prenom'] &&
              fI['prenom'].errors &&
              fI['prenom'].errors['required']
            "
          >
            le prénom est <strong>obligatoire</strong>.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Entrez la source</mat-label>
          <input
            matInput
            placeholder="Source"
            type="text"
            required
            formControlName="source"
            id="source"
            [ngClass]="{
              'is-invalid': submittedIn && fI['source'] && fI['source'].errors
            }"
          />
          <mat-error
            *ngIf="
              fI['source'] &&
              fI['source'].errors &&
              fI['source'].errors['minlength']
            "
          >
            La source doit contenir <strong>6 caractères</strong>.
          </mat-error>
          <mat-error
            *ngIf="
              fI['source'] &&
              fI['source'].errors &&
              fI['source'].errors['required']
            "
          >
            La source est <strong>obligatoire</strong>.
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Entrez la mention</mat-label>
          <input
            matInput
            placeholder="Mention"
            type="text"
            required
            formControlName="mention"
            id="mention"
            [ngClass]="{
              'is-invalid': submittedIn && fI['mention'] && fI['mention'].errors
            }"
          />
          <mat-error
            *ngIf="
              fI['mention'] &&
              fI['mention'].errors &&
              fI['mention'].errors['minlength']
            "
          >
            La mention doit contenir <strong>6 caractères</strong>.
          </mat-error>
          <mat-error
            *ngIf="
              fI['mention'] &&
              fI['mention'].errors &&
              fI['mention'].errors['required']
            "
          >
            La mention est <strong>obligatoire</strong>.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Entrez la compétence</mat-label>
          <input
            matInput
            placeholder="Compétence"
            type="text"
            required
            formControlName="competences"
            id="competences"
            [ngClass]="{
              'is-invalid':
                submittedIn && fI['competences'] && fI['competences'].errors
            }"
          />
          <mat-error
            *ngIf="
              fI['competences'] &&
              fI['competences'].errors &&
              fI['competences'].errors['minlength']
            "
          >
            La compétence doit contenir <strong>6 caractères</strong>.
          </mat-error>
          <mat-error
            *ngIf="
              fI['competences'] &&
              fI['competences'].errors &&
              fI['competences'].errors['required']
            "
          >
            La compétence est <strong>obligatoire</strong>.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Entrez le domaine</mat-label>
          <input
            matInput
            placeholder="Domaine"
            type="text"
            required
            formControlName="domaine"
            id="domaine"
            [ngClass]="{
              'is-invalid': submittedIn && fI['domaine'] && fI['domaine'].errors
            }"
          />
          <mat-error
            *ngIf="
              fI['domaine'] &&
              fI['domaine'].errors &&
              fI['domaine'].errors['minlength']
            "
          >
            Le domaine doit contenir <strong>6 caractères</strong>.
          </mat-error>
          <mat-error
            *ngIf="
              fI['domaine'] &&
              fI['domaine'].errors &&
              fI['domaine'].errors['required']
            "
          >
            Le domaine est <strong>obligatoire</strong>.
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Entrez un commentaire</mat-label>
          <textarea
            matInput
            placeholder="Commentaire"
            type="text"
            required
            formControlName="comment"
            id="comment"
            [ngClass]="{
              'is-invalid': submittedIn && fI['comment'] && fI['comment'].errors
            }"
          >
          </textarea>
          <mat-error
            *ngIf="
              fI['comment'] &&
              fI['comment'].errors &&
              fI['comment'].errors['minlength']
            "
          >
            Le commentaire doit contenir <strong>6 caractères</strong>.
          </mat-error>
          <mat-error
            *ngIf="
              fI['comment'] &&
              fI['comment'].errors &&
              fI['comment'].errors['required']
            "
          >
            Le commentaire est <strong>obligatoire</strong>.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field appearance="outline" class="mat-form-field-custom">
          <mat-label>Photo</mat-label>
          <input
            formControlName="photo"
            matInput
            type="file"
            class="file-input"
            id="photo"
            (change)="onImageSelected($event)"
            #fileUpload
            accept="image/*"
          />

          <div class="file-upload uploadFile" (click)="fileUpload.click()">
            {{ photo }}
            <button mat-mini-fab type="button" class="upload-btn">
              <mat-icon>attach_file</mat-icon>
            </button>
          </div>
          <mat-error
            *ngIf="fI['photo'].errors && fI['photo'].errors['required']"
          >
            La photo est <strong>obligatoire</strong>.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field appearance="outline" class="mat-form-field-custom">
          <mat-label>File</mat-label>
          <input
            matInput
            type="file"
            class="file-input"
            id="cv"
            (change)="onCVSelected($event)"
            #filecvUpload
            formControlName="cv"
            accept="file/*"
          />

          <div class="file-upload uploadFile" (click)="filecvUpload.click()">
            {{ cv }}
            <button mat-mini-fab type="button" class="upload-btn">
              <mat-icon>attach_file</mat-icon>
            </button>
          </div>
          <mat-error *ngIf="fI['cv'].errors && fI['cv'].errors['required']">
            Le CV est <strong>obligatoire</strong>.
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <button mat-raised-button type="submit" class="btn btn-wico pull-right">
      {{ data ? "Modifier Témoignage" : "Ajouter Témoignage" }}
    </button>
    <div class="clearfix"></div>
  </form>
</mat-dialog-content>
